#title {
  text-align: center;
  font-size: 90px;
  padding-top: 25px;
  width: 100%;
  height: 95px;
  border: solid black;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 241, 163);
}

#console {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 3;
  z-index: -1;
}

#flick-it {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-left: 100px;
  margin-right: -49px;
  margin-top: 32px;
}
#flick-it:hover {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-left: 95px;
  margin-top: 12px;
  width: 90px;
  height: 94px;
}

#twist-it {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-right: 120px;
  margin-left: 0px;
  margin-top: 0px;
  width: 108px;
  height: 109px;
}

#twist-it:hover {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  width: 108px;
  height: 110px;
  margin-top: -5px;
}

#bop-it {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  margin-left: 74px;
  margin-top: 52px;
}

#bop-it:hover {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  margin-left: 64px;
  margin-top: 42px;
  width: 156px;
  height: 154px;
}

#spin-it {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: 70px;
  margin-right: -40px;
  margin-bottom: 10px;
}

#spin-it:hover {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: 60px;
  margin-bottom: 0px;
  width: 153px;
  height: 132px;
}

#pull-it {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: -87px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#pull-it:hover {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  width: 94px;
  height: 127px;
  margin-left: -50px;
}

.back-to-home:hover {
  color: rgb(244, 127, 255);
}

a {
  color: black;
  text-decoration: none;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  width: 70%;
  left: 0;
  background: url('https://wallpaperaccess.com/full/2448937.jpg');
}

.right {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  right: 0;
  background: rgb(250, 231, 238);
  justify-items: center;
}

video {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 6%;
  height: 400px;
  transform: rotate(-11deg);
}

#logo {
  width: 300px;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  -webkit-filter: drop-shadow(5px 5px 5px #a8a8a8);
  filter: drop-shadow(5px 5px 5px #969696);
}

.play-modes {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: right;
}

#header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: right;
  color: rgb(83, 9, 153);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  width: 100%;
  margin-right: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #858585);
}

button {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 45px;
  padding-top: 15px;
  background-color: aquamarine;
  border-radius: 10px;
}

button:hover {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 45px;
  padding-top: 15px;
  background-color: rgb(244, 127, 255);
  border-radius: 10px;
}
#trad {
  margin-top: 20px;
  grid-row-start: 2;
  grid-row-end: span 1;
}

#mem {
  width: 279.2px;
}

.trad-div {
  text-align: right;
  margin-right: 150px;
  margin-top: 20px;
}

.mem-div {
  text-align: right;
  margin-right: 325px;
}
