body {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(
    rgb(255, 255, 255),
    rgba(244, 127, 255, 0.705),
    rgb(255, 255, 255)
  );
  height: 98vh;
  justify-content: center;
  align-content: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  height: 20vh;
  width: 100vw;
  margin-bottom: 0px;
  margin-top: -50px;
}

#title {
  text-align: center;
  font-size: 90px;
  grid-column-start: 1;
  grid-column-end: span 3;
  color: rgb(0, 0, 0);
}

.bob-it-grid {
  display: grid;
  margin: 0 auto;
  grid-column-start: 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 515px;
  width: 570px;
  margin-top: 0%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  position: relative;
}

#console {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 3;
  z-index: -1;
}

#flick-it {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-left: 100px;
  margin-right: -49px;
  margin-top: 32px;
}
#flick-it:hover {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-left: 95px;
  margin-top: 12px;
  width: 90px;
  height: 94px;
}

#twist-it {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  margin-right: 120px;
  margin-left: 0px;
  margin-top: 0px;
  width: 108px;
  height: 109px;
}

#twist-it:hover {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  width: 108px;
  height: 110px;
  margin-top: -5px;
}

#bop-it {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  margin-left: 74px;
  margin-top: 52px;
}

#bop-it:hover {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  margin-left: 64px;
  margin-top: 42px;
  width: 156px;
  height: 154px;
}

#spin-it {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: 70px;
  margin-right: -40px;
  margin-bottom: 10px;
}

#spin-it:hover {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: 60px;
  margin-bottom: 0px;
  width: 153px;
  height: 132px;
}

#pull-it {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  margin-left: -87px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#pull-it:hover {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  width: 94px;
  height: 127px;
  margin-left: -50px;
}

button {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  padding-top: 15px;
  background-color: aquamarine;
  border-radius: 10px;
}

button:hover {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  padding-top: 15px;
  background-color: rgb(244, 127, 255);
  border-radius: 10px;
}

.back-to-home:hover {
  color: rgb(3, 190, 181);
}

a {
  color: black;
  text-decoration: none;
}

video {
  object-fit: fill;
}

.video-grid {
  display: grid;
  margin: 0 auto;
  grid-column-start: 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 515px;
  width: 100vw;
  margin-top: 3%;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

#traditional {
  margin-top: 17vh;
}

#memory {
  margin-top: 15vh;
}

ul {
  list-style: none;
}
